<?xml version="1.0"?>
<launch>
  <arg name="checkpoint_path" default="/workspace/weights/graspnet/checkpoint.tar" />
  <arg name="graspnet_repo_path" default="/workspace/weights/graspnet/graspnet-baseline" />
  <arg name="num_grasp_candidates" default="5" />
  <arg name="pointcloud_topic" default="/perception/yolo26_seg_cloud" />
  <arg name="num_point" default="20000" />
  <arg name="voxel_size" default="0.005" />
  <arg name="label_field_name" default="label" />
  <arg name="task_decision_topic" default="/brain/task_decision" />
  <arg name="failure_topic" default="/perception/grasp_failure_reason" />
  <arg name="marker_topic" default="/perception/grasp_markers" />
  
  <node name="grasp_estimator" pkg="perception_grasp" type="grasp_estimator_node.py" output="screen">
    <param name="checkpoint_path" value="$(arg checkpoint_path)" />
    <param name="graspnet_repo_path" value="$(arg graspnet_repo_path)" />
    <param name="num_grasp_candidates" value="$(arg num_grasp_candidates)" />
    <param name="pointcloud_topic" value="$(arg pointcloud_topic)" />
    <param name="num_point" value="$(arg num_point)" />
    <param name="voxel_size" value="$(arg voxel_size)" />
    <param name="label_field_name" value="$(arg label_field_name)" />
    <param name="task_decision_topic" value="$(arg task_decision_topic)" />
    <param name="failure_topic" value="$(arg failure_topic)" />
    <param name="marker_topic" value="$(arg marker_topic)" />
  </node>
</launch>
